.landing-features {}
.landing-features-list {
  overflow: hidden;
  border: 1px solid #dfdfdf;
}
.landing-features-i {
  float: left;
  width: 25%;
  padding: 20px 10px 13px 18px;
}
.landing-features-i + .landing-features-i {border-left: 1px solid #dfdfdf;}
.landing-features-p {
  font-size: 13px;
  line-height: 20px;
  margin-top: 13px;
}
.landing-features-p-12 {
    font-size: 12px;
    line-height: 20px;
    margin-top: 13px;
}

.landing-features-p-12 a {color: #1155cc; text-decoration: none;}
.landing-features-p-12 a:hover {text-decoration: underline;}
.landing-features-p-12 li {list-style: disc inside;}
.landing-features-p a {color: #ed2125; text-decoration: none;}
.landing-features-p a:hover {text-decoration: underline;}
.landing-features-p li {list-style: disc inside;}
.page-ttl-h1 + .landing-features-p {margin-top: 17px;}
.page-subttl + .landing-features-p {margin-top: -8px;}
.landing-features-bot {
  border: 1px solid #dfdfdf;
  border-top: 0;
  padding: 20px 19px;
}
.landing-well {
  border: 1px solid #dfdfdf;
  font-size: 12px;
  line-height: 20px;
  padding: 13px 20px;
  margin-top: 19px;
}

.landing-features_plates {background: url(../i/about/bg-map.jpg); -webkit-background-size: cover;background-size: cover; padding: 20px 19px; border: 0;}
.landing-features_plates .landing-features-list {border: 0;}
.landing-features_plates .landing-features-i {width: 100%; background: #fff; padding: 0; border: 0;}
.landing-features_plates .landing-features-i + .landing-features-i {margin-top: 10px;}
.landing-features_plates .landing-features-i img {float: left; margin-right: 14px;}
.landing-features_plates .landing-features-p {padding-top: 10px; margin: 0;}
.landing-features_plates .landing-features-bot {border: 0; padding: 20px 0 0;}
.landing-features_inline {}
.landing-features_inline .landing-features-list {padding: 10px 18px 12px;}
.landing-features_inline .landing-features-i {width: auto; padding: 0; border: 0;}
.landing-features_inline .landing-features-p {line-height: 25px; background: url(../i/icon-checked.png) 0 50% no-repeat; padding-left: 18px; margin-top: 0;}
.contact-us {background: #e8e3d5; padding: 20px 15px; position: relative; margin-top: 18px;}
.contact-us:before {
  content: "";
  display: block;
  position: absolute; top: 0; left: 0;
  background: url(../i/bg-wave-fff2.png) 0 0 repeat-x;
  width: 100%; height: 2px;
}
.contact-us:after {
  content: "";
  display: block;
  position: absolute; bottom: 0; left: 0;
  background: url(../i/bg-wave-fff.png) 0 0 repeat-x;
  width: 100%; height: 2px;
}
.contact-us-bot {height: 27px; margin-top: 20px; padding: 0 5px;}
.contact-us-p {color: #666; font-size: 12px; line-height: 27px; float: left;}
.contact-us-btn {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
  line-height: 25px;
  height: 27px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background: #1ea514;
  border: 0;
  border-radius: 3px;
  padding: 0 9px;
  float: right;
}
.contact-us-btn-9b9b9b {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
  line-height: 25px;
  height: 27px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background: #9b9b9b;
  border: 0;
  border-radius: 3px;
  padding: 0 9px;
  float: right;
}

.contact-us-call {margin-top: 28px;}
.contact-us-call-p {
  font-size: 12px;
  line-height: 20px;
  margin: 4px 0;
}
.contact-us-call-p_grey {color: #999;}
.contact-us-call-num {
  font-family: 'LetoSans';
  font-size: 30px;
  color: #000;
}
.contact-us-call-num span {color: #999;}

.landing-features-p .c7 a {
    color: #1155cc;
    text-decoration: underline;
}