input {font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
.page-wrap-fon{
	height: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	background: url(../i/fon-index2.jpg) repeat;
}
.header-mini{
	display: block;
	position: relative;
	width: 100%;
	height: 100px;
}
.header-mini-label{
	display: block;
	position: relative;
	margin: 0 auto;
	width: 300px;
	height: 50px;
	background: rgba(233, 233, 233, 0.6);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99E9E9E9,endColorstr=#99E9E9E9)"; /* IE8 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99E9E9E9,endColorstr=#99E9E9E9);   /* IE6 & 7 */
        zoom: 1;
	font-family: "LetoSans-Bold";
	color: #ff262a;
	font-size: 15px;
	text-align: center;
	line-height: 20px; 
	padding-top: 15px;
}
.header-mini-fon{
	display: block;
	position: relative;
	margin: 0 auto;
	width: 300px;
	background: url(../i/treyg-fon.png) no-repeat;
	height: 32px;
	opacity: .6;
}
.header-mini-icon{
	display: block;
	position: absolute;
	top: 50px;
	left: 142px;
	margin: 0 auto;
	width: 16px;
	background: url(../i/icon-1.png) no-repeat;
	height: 16px;
    z-index: 100;
}
.footer-mini{
	display: block;
	position: absolute;
	bottom: 0;
	height: 67px;
	width: 100%;
	
}
.footer-min-body {
	display: block;
	position: relative;
	width: 100%;
	height: 97px;
	border-top: 1px solid #e7e7e7;
	margin: 0 auto;
}
.footer-min-copyrite{
	/*float: left;*/
	color: #333333;
	/*margin-top: 27px;*/
}
.pull-right{
	float: right;
}
.pull-left{
	float: left;
}

.footer-min-body a:hover{
	text-decoration: underline;
}
.m10r{
	margin-right: 10px;
}
.b-reserved-fast{
	display: block;
	width: 1000px;
	height: 475px;
	position: relative;
	margin: -20px auto 0 auto;
	background: url(../i/bg-red-gradient.png) 0 0 repeat-x;
}

.logo-a {
background: url(../i/logo.png) 0 0 no-repeat;
width: 320px;
height: 22px;
display: block;
}
.b-reserved-fast-top{
	display: block;
	position: relative;	
	width: 100%;
	height: 83px;
	padding: 30px 50px;
	background: url(../i/dash-ef5053.png) 100% 100% repeat-x;
}
.b-reserved-fast-bot{
	display: block;
	position: absolute;	
	bottom: 0;
	width: 100%;
	height: 73px;
	padding: 27px 50px;
	background: url(../i/dash-ef5053.png) 100% 0 repeat-x;
}
.b-reserved-fast-bot .call-me{
	display: block;
	float: right;
	font-size: 15px;
	margin: 0;
	font-family: 'LetoSans-Bold';
}
.b-reserved-well{
	padding: 42px 50px 0 50px;
}
.b-reserved-well span.padding-correct{
	padding: 0 !important;
}

.tourbook-form .input-name-fast{
	float: left;
	height: 39px;
	border-radius: 3px 0 0 3px;
}
.tourbook-form .input-name-fast span{
	padding: 0 5px 0 5px !important;
	line-height: 39px;
	color: #999;
}
.tourbook-form.b-reserved-well input{
	height: 39px;
}
.tourbook-form .icon-list2{
	position: absolute;
	width: 30px;
	right: 0;
	height: 39px;
	background: url(../i/icon-list2.png) 50% 50% no-repeat;
	cursor: pointer;
}
.b-reserved-fast-reset{
	display: block;
	float: right;
	padding-left: 14px;
	background: url(../i/icon-reset2.png) 0 50%  no-repeat;
	font-size: 10px;
	color: #fff;
	text-decoration: none;
	line-height: 39px;
	opacity: .6;
	
}
.b-reserved-fast-find{
	width: 125px;
	height: 39px;
	float: right;
	font-size: 11px;
	color: #fff;
	text-decoration: none;
	border-radius: 3px !important;
	line-height: 39px;
	text-align: center;
	margin-left: 15px;
	background: #ad0b0e url(../i/icon-find.png) 20px 50%  no-repeat;
}
.b-reserved-fast:before {
	display: block;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: -2px;
	left: -2px;
	background: url(../i/bg-wave-red-dot-side.png) 0 100% no-repeat, url(../i/bg-wave-red-dot-bot.png) 0 100% repeat-x; 
}

.b-reserved-fast-inner {position: relative;height: 475px;}
.b-reserved-fast-inner:before {
	display: block;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: -2px;
	right: -2px;
	background: url(../i/bg-wave-red-dot-side.png) 100% 0 no-repeat, url(../i/bg-wave-red-dot-top.png) 0 0 repeat-x; 
}

.b-reserved-text-bold{
	font-weight: bold;
}
.b-reserved-text-bold span{
	font-weight: 400;
}

.b-reserved-fast-top .account_centered {
     margin-right: 0;
    margin-top: -4px;
    position: relative;
    float: right;
}

.mytour-ru .logo-a {
    background: url(/static/i/logo-mytour.png) 0 0 no-repeat;
}