<div bindonce class="ls-form-cell-pp-holder">
    <div class="ls-form-select multi">
        <div class="ls-form-select-lbl">Отель</div>

        <div class="ls-form-inp ls-form-inp_last">
            <input class="ls-form-inp-field ls-chooser-dd-input" type="text"
               tabindex="3"
               ng-model="searchValue"
               debounce="700"
               placeholder="{{ selectPopup ? '': (value ? value : 'Выбор отеля') }}"
               ng-focus="value=''; displaySelectPopup()"
               ui:keyboard-navigatable
               navigate-on="{up: selectPrevItem, down: selectNextItem, submit: submit, escape: close}"
            >
            <span class="ls-form-inp-btn"
                  ng-click="displaySelectPopup()"
                  ui:keyboard-navigatable
                  navigate-on="{up: selectPrevItem, down: selectNextItem, submit: submit, escape: close}"
            >
            </span>
        </div>
    </div>
    <div class="ls-form-select-pp" ng-show="selectPopup">
        <div class="ls-form-select-pp-inner">
            <div class="ls-form-scroll-wrap">
                <div class="ls-form-scroll">
                    <ul class="ls-form-list ls-form-list_v ls-form-list_chck">
                        <li bindonce class="ls-form-list-i" ng-repeat="item in source.allocations|filter:searchValue track by item.id">
                            <label class="ls-form-chck-lbl" >
                                <span bo-text="item.name"></span>
                                <input type="checkbox" class="ls-form-chck"
                                       bo-id="'al_' + item.id"
                                       name="al[]"
                                       ng-click="select('al', item)"
                                       bo-attr bo-attr-checked="item.selected"

                                       ui:keyboard-navigatable
                                       navigate-on="{escape: close}"
                                       bo-value = "item.id" />
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ls-form-select-bot">
                <a href="javascript:void(0)"
                   ng-click="use();"
                   class="ls-form-select-bot-btn">Выбрать</a>
            </div>
        </div>
    </div>
</div>