<div bindonce class="ls-form-cell-pp-holder"
    >

    <div class="ls-form-select multi" ng-class="{'req' : value}">
        <div class="ls-form-select-lbl" >
            Ночи
        </div>
        <a tabindex="5"
           ng-focus="displaySelectPopup()"
           ng-click="displaySelectPopup()"
           ui:keyboard-navigatable
           navigate-on="{space: submit, up: selectPrevItem, down: selectNextItem, submit: submit, escape: close}"
           href="javascript:void(0);" class="ls-form-inp ls-form-pp-btn ls-form-inp_last">
            <span ng-if="value == ''">Ночей</span>
            <span ng-if="value != ''">{{ value }}</span>
            <span class="ls-form-inp-btn"></span>
        </a>
    </div>

    <div class="ls-form-select-pp uni-form-dd-cnt3" ng-show="selectPopup">
        <div class="ls-form-select-pp-inner">
            <div class="ls-form-scroll-wrap">
                <div class="ls-form-scroll uni-form-dd-tabs uni-form-dd-tabs_val ls-form-scroll-wrap">
                    <ul class="ls-form-list">
                        <li class="ls-form-list-i"
                            bo-class="{'uni-form-dd-i_current' : getValues() == item.id}" bindonce
                            ng-repeat="item in source" ng-click="select(item, true)">
                            <a href="javascript:void(0);"
                               class="ls-form-list-i-a" bo-text="item.name"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
