<div class="ls-form-cell-pp-holder" ng-class="{'uni-form-dd_active1' : searchPopup, 'uni-form-dd_active2' : selectPopup}">
    <div class="ls-form-select multi">
        <div class="ls-form-select-lbl">
            <span ng-if="nick == 're'">Курорт</span>
            <span ng-if="nick == 'op'">Оператор</span>
        </div>

        <a ng-show="value != ''"
           ng-click="displaySelectPopup()"
           ng-model="value"
           ui:keyboard-navigatable
           navigate-on="{escape: close}"
                class="ls-form-inp ls-form-pp-btn ls-form-inp_last">
            {{ value }}
            <span class="ls-form-inp-btn ls-form-pp-btn icon-list2"></span>
        </a>

        <a ng-show="value == ''"
           ng-click="displaySelectPopup()"
           ng-focus="displaySelectPopup()"
           ng-model="label"
           ui:keyboard-navigatable
           navigate-on="{escape: close}"
           tabindex="2"
                class="ls-form-inp ls-form-pp-btn ls-form-inp_last">
            {{ label }}
            <span class="ls-form-inp-btn ls-form-pp-btn icon-list2"></span>
        </a>
    </div>
    <div class="ls-form-select-pp"  ng-show="selectPopup">
        <div class="ls-form-select-pp-inner">
            <div class="ls-form-scroll-wrap">
                <div class="ls-form-scroll">
                    <ul class="ls-form-list ls-form-list_v ls-form-list_chck">
                        <li class="ls-form-list-i" bindonce  ng-repeat="item in source">
                            <label class="ls-form-chck-lbl">
                                <input type="checkbox" class="ls-form-chck" bo-id="'item_'+  nick + '_' + item.id" ng-model="selected[item.id]" >
                                <span bo-text="item.name"></span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ls-form-select-bot">
                <a href="javascript:void(0)"
                   ng-click="use();"
                   class="ls-form-select-bot-btn">Выбрать</a>
            </div>
        </div>
    </div>
</div>

