<div class="ls-form-cell-pp-holder">
<div class="ls-form-select-pp">
    <div class="ls-form-select-pp-inner">
        <div class="ls-form-scroll-wrap">
            <div class="operator-active" style="   ">
                <label class="ls-form-chck-lbl" style="line-height: 21px;
    display: block;
    height: 21px;
    padding-left: 28px;">
                    <span>С топливным сбором</span>
                    <input type="checkbox" class="ls-form-chck" id="price-full" ng-model="$root.priceFull" ng-click="$root.setPriceFull();" style="position: absolute;
    left: 12px;
    top: 4px;
    padding: 0;
    border-radius: 0;
    width: auto;
    height: auto;">
                </label>
            </div>
        </div>
    </div>
</div>
</div>