<div class="ls-form-cell-pp-holder">
    <div class="ls-form-select-pp">
        <div class="ls-form-select-pp-inner">
            <div class="ls-form-scroll-wrap">
                <div class="operator-active" style="   ">
                    <label class="ls-form-chck-lbl hide-subagents-label">
                        <span class="hide_subagents">Скрыть цены посредников</span>
                        <input type="checkbox" class="ls-form-chck toggle-subagents" id="hide-subagents"
                               ng-model="$root.is_subagent"
                               ng-click="$root.toggleHideSubagents()">
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>