<div class="ls-form-cell-pp-holder"
     ng-class="{'uni-form-dd_active1' : searchPopup, 'uni-form-dd_active2' : selectPopup, 'form-input-gray': item_gray == 1 || before_load_gray == undefined, 'form-input-black': item_black == 1}">
    <div class="ls-form-select multi" ng-class="{'req' : value}">
        <div class="ls-form-select-lbl w65">Оператор</div>
        <a class="ls-form-inp ls-form-pp-btn ls-form-inp_last"
           ng-click="displaySelectPopup()"
           ng-model="value"
           href="javascript:void(0);">
            <span ng-show="value != ''">{{ value }}</span>
            <span ng-show="value == ''">{{ label }}</span>
            <span class="ls-form-inp-btn"></span>
        </a>
    </div>
    <div class="ls-form-select-pp" ng-show="selectPopup">
        <div class="ls-form-select-pp-inner">
            <div class="ls-form-scroll-wrap">
                <div class="operator-active" style="   ">
                    <label class="ls-form-chck-lbl" style="line-height: 21px;
    display: block;
    height: 21px;
    padding-left: 28px;">
                        <span>Показать операторов</span>
                        <input type="checkbox" class="ls-form-chck" id="open-operators" ng-model="$root.operatorsOpen" ng-click="setOperatorsOpen();" style="position: absolute;
    left: 12px;
    top: 38px;
    padding: 0;
    border-radius: 0;
    width: auto;
    height: auto;">
                    </label>
                </div>
                <div class="ls-form-scroll" ng-show="$root.operatorsOpen">
                    <ul class="ls-form-list ls-form-list_v ls-form-list_chck">
                        <li class="ls-form-list-i" ng-repeat="item in source | limitTo:scrollLimit">
                            <input type="checkbox" class="ls-form-chck"
                                   id="item_{{ nick }}_{{ item.id }}" ng-model="selected[item.id]"
                                   ng-click="selectWithoutToggle(item);"/>
                            <label for="item_{{ nick }}_{{ item.id }}" class="ls-form-chck-lbl">{{ item.name }}</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>