<div class="ls-form-cell-pp-holder" bindonce
     ng-class="{'uni-form-dd_active1' : searchPopup, 'uni-form-dd_active2' : selectPopup}">
    <div class="ls-form-select multi req">
        <div class="ls-form-select-lbl" ng-class="{'w100' : nick == 'ct', 'w65' : nick == 'co'}">
            <span ng-if="nick == 'ct'">Откуда</span>
            <span ng-if="nick == 'co'">Куда</span>
        </div>
        <div class="ls-form-inp ls-form-inp_last">
            <input class="ls-form-inp-field" type="text" ng-model="value"
                   tabindex="1"
                   ng-focus="value=''; displaySearchPopup()"
                   ui:keyboard-navigatable
                   navigate-on="{up: selectPrevItem, down: selectNextItem, submit: submit, escape: close}"
                    >
            <span class="ls-form-inp-btn ls-form-pp-btn" tabindex="2"
                  ng-click="displaySelectPopup()"
                  ui:keyboard-navigatable
                  navigate-on="{up: selectPrevItem, down: selectNextItem, submit: submit, escape: close}"
                    ></span>
        </div>
    </div>
    <div class="ls-form-select-pp uni-form-dd-cnt2" ng-show="selectPopup">
        <div class="ls-form-select-pp-inner">
            <div class="ls-form-scroll-wrap">
                <div class="ls-form-scroll">
                    <ul class="ls-form-list uni-form-dd-tabs uni-form-dd-tabs_val ls-form-scroll-wrap">
                        <li class="ls-form-list-i"
                            ng-class="{'uni-form-dd-i_current' : getValues() == item.id}"
                            ng-repeat="item in source" ng-click="select(item, false)">
                            <a href="javascript:void(0);" class="ls-form-list-i-a" bo-text="item.name"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="ls-form-select-pp uni-form-dd-cnt1" ng-show="searchPopup">
        <div class="ls-form-select-pp-inner">
            <div class="ls-form-scroll-wrap">
                <div class="ls-form-scroll">
                    <ul class="ls-form-list uni-form-dd-tabs uni-form-dd-tabs_val ls-form-scroll-wrap">
                        <li class="searchbar-form-pp-res-i"
                            ng-class="{'uni-form-dd-i_current' : getValues() == item.id}"
                            ng-repeat="item in source | filterTranslit:value"
                            ng-click="select(item, true)">
                            <a href="javascript:void(0);" class="ls-form-list-i-a" bo-text="item.name"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>